
<div cdkDropListGroup>
    <div class="row">
        <div class="col-md-9 col-12 ">
            <h1 class="text-center">Form Builder</h1>
            <div class="drop-area">
                <div cdkDropList [cdkDropListData]="selectedFields" class="example-list form-area "
                (cdkDropListDropped)="drop($event)">
                    @for (item of selectedFields; track item; let i = $index) {
                        <div class="example-box" cdkDrag cdkDragBoundary=".form-area">
                            {{item?.name}}
                            <mat-icon class="close-icon pull-right" (click)="removeField(i)">close</mat-icon>
                        </div>
                        }
                </div>
            </div>

        </div>
        <div class="col-md-3 col-12 ">
            <h1 class="text-center">Elements</h1>

            <div
            cdkDropList
            [cdkDropListData]="availableFields" cdkDropListSortingDisabled
            class="source-list form-elements">
                @for (item of availableFields; track item;) {
                    <div class="example-box2" cdkDrag>
                        <div class="custom-placeholder" *cdkDragPlaceholder></div>
                        <mat-icon class="text-start">{{item.props?.['icon']}}</mat-icon>
                         <b class="ms-2">{{item.name}}</b>
                    </div>
                }
            </div>
            <!-- 
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [model]="model" [fields]="availableFields"></formly-form>
                <button type="submit" mat-raised-button color="primary">Add Task</button>
            </form>
            -->
        </div>
    </div>

    <div class="row">
        <h3>Form JSON</h3>
        <div class="col-12 col-sm-4">
            <div class="form-values">
                <pre>{{selectedFields | json}}</pre>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <form [formGroup]="form">
                <formly-form [fields]="selectedFields" [form]="form" [model]="model"></formly-form>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-light text-center py-2 mt-5">
                <p>José Luis Olivares - 2025</p>
            </div>
        </div>
    </div>
</div>